{% extends 'base.html'  %}

{% block content %}

<h1>Albums by {{result[0]['artist_name']}}</h1>

{% for item in result %}

<div class="card">
    <div class="card-body">
    <!-- add album image if it exists in item.album_art -->
    {% if item.album_art %}
    <img src="{{item.album_art}}" alt="album art" class="img-thumbnail">
    {% endif %}
    <p>Album: {{ item.album_name }}</p>
    <p>Release date: {{item.release_date}}</p>
    <p>Tracks: {{item.total_tracks}}</p>
    <a href="/get_tracks/{{item.album_id}}" class="card-link d-block">See tracks from this album: {{item.album_name}}</a>
    </div>
    </div>

{% endfor %}

{% endblock %}

