{% extends 'base.html'  %}

{% block content %}

<h1>Analysis for: <br> {{result.track_name}} </h1>

<div class="card">
    <img class="align-self-center img-thumbnail img-fluid" src="{{result.album_art}}" alt="album art">
    <div class="card-body text-center">
    <ul class="list-unstyled">
        <li class="card-text">Artist: {{result.artist_name}}</li>
        <li class="card-text">Album: {{result.album}}</li>
        <li class="card-text" >Duration in minutes: {{result.duration}}</li>
        <li class="card-text" >Key signature: {{result.key}}</li>
        <li class="card-text" >Key signature confidence: {{result.key_confidence}}%</li>
        <li class="card-text" >Mode: {{result.mode}}</li>
        <li class="card-text" >Mode confidence: {{result.mode_confidence}}%</li>
        <li class="card-text" >Time signature: {{result.time_signature}}/4</li>
        <li class="card-text" >Time signature confidence: {{result.time_signature_confidence}}%</li>
        <li class="card-text">Tempo/BPM: {{result.tempo}}</li>
        <li class="card-text">Tempo confidence: {{result.tempo_confidence}}%</li>
        <li class="card-text">Loudness: {{result.loudness}}</li>
    </ul>
    <form action="/audio_analysis/{{track_id}}" method="POST">
        {{ form.hidden_tag() }}
  
        {% for field in form
            if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field(class_="form-control") }}
    
            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Add song!</button>
    </form>
</div>





{% endblock %}

