{% extends 'base.html' %} {% include 'music/playlist_form.html' %} {% block content %}

<h3>Analysis for: <b> {{result.track_name}} </b></h3>

<div class="card d-flex flex-row position-relative">
	{% if g.user.is_liked(result.track_id)%}
	<i
		id="like-icon-{{result.track_id}}"
		data-track-id="{{result.track_id}}"
		class="fas fa-heart fa-solid position-absolute top-0 end-0 m-2"
		style="font-size: 1em"></i>
	{% else %}
	<i
		id="like-icon-{{result.track_id}}"
		data-track-id="{{result.track_id}}"
		class="far fa-heart fa-light position-absolute top-0 end-0 m-2"
		style="font-size: 1em"></i>
	{% endif %}
	<img class="card-img-left w-50 img-fluid" src="{{result.album_art}}" alt="album art" />
	<div class="card-body text-center">
		<ul class="list-unstyled">
			<li class="card-text lead">
				<a href="/albums/{{result.artist_id}}">Artist: {{result.artist_name}}</a>
			</li>
			<li class="card-text">
				<a href="/albums/songs/{{result.album_id}}">Album: {{result.album}}</a>
			</li>
			<li class="card-text">Duration in minutes: {{result.duration}}</li>
			<li class="card-text">Key signature: {{result.key}}</li>
			<li class="card-text">Key signature confidence: {{result.key_confidence}}%</li>
			<li class="card-text">Mode: {{result.mode}}</li>
			<li class="card-text">Mode confidence: {{result.mode_confidence}}%</li>
			<li class="card-text">Time signature: {{result.time_signature}}/4</li>
			<li class="card-text">Time signature confidence: {{result.time_signature_confidence}}%</li>
			<li class="card-text">Tempo/BPM: {{result.tempo}}</li>
			<li class="card-text">Tempo confidence: {{result.tempo_confidence}}%</li>
			<li class="card-text">Loudness: {{result.loudness}}</li>
		</ul>
		<button
			class="btn btn-primary"
			data-bs-toggle="modal"
			data-bs-target="#myModal"
			data-track-id="{{result.track_id}}">
			Add to playlist
		</button>
	</div>
	{% endblock %}
</div>

