{% extends 'base.html' %} {% block content %} {% if user.playlists %}

<h3>Your playlists:</h3>

{% for playlist in playlists %}
<div class="card mb-2">
	<div class="card-body d-flex">
		<div>
			<h5 class="card-title text-center">
				<a href="/playlists/{{playlist.id}}">{{playlist.name}}</a>
			</h5>
			{% if playlist.description != None %}
			<h6 class="card-subtitle mb-2 text-muted text-center">{{playlist.description}}</h6>
			{% endif %}
		</div>
		<div class="ml-auto align-self-center">
			<button class="btn btn-danger" data-playlist-id="{{ playlist.id }}">Delete Playlist</button>
		</div>
	</div>
</div>
{% endfor %} {% endif %}
<div class="card mb-2">
	<div class="card-body">
		<form id="create-playlist" method="POST">
			<label class="form-label" for="playlist_name">Playlist Name:</label>
			<input class="form-control" type="text" id="playlist_name" name="playlist_name" required />
			<label class="form-label" for="playlist_description">Playlist Description (Optional):</label>
			<input
				class="form-control"
				type="text"
				id="playlist_description"
				name="playlist_description" />
			<button class="btn btn-primary mt-2" type="submit">Create Playlist</button>
		</form>
	</div>
</div>

{%endblock%}

