{% extends 'base.html'  %}

{% block content %}

<h1>Search by track, album or artist:</h1>

<form method="GET" action="/search">
  <div>
    
    <input class="form-control" type="text" id="search_term" name="search_term" required placeholder="Enter artist, track or album">
  </div>
  <div>
    <label class="form-label" for="search_type">Search Type:</label>
    <select class="form-select" id="search_type" name="search_type">
      <option value="track">Track</option>
      <option value="artist">Artist</option>
      <option value="album">Album</option>
    </select>
  </div>
  <button class="btn btn-primary mt-2" type="submit" id="search">Search</button>
  </form>



{% endblock %}