{% extends 'base.html' %} {% block content %} {% with playlists=playlists %} {% include
'music/playlist_form.html'%} {% endwith %}

<h1>Track listing for: {{result[0].album_name}}</h1>
<div class="container">
	<div class="row">
		{% for item in result %}
		<div class="col-6 mb-1 p-1 d-flex align-items-stretch">
			<div class="card d-flex flex-row flex-grow-1">
				<div class="card-body">
					<p>
						<a href="/audio_analysis/{{item.track_id}}" class="card-link"
							>Track Name: {{ item.track_name }}</a
						>
					</p>
					<p class="card-text">Track Number: {{ item.track_number }}</p>
					<p class="card-text">Duration: {{ item.duration }}</p>
					<p class="card-text">Explicit: {{ item.explicit }}</p>
					<p class="card-text">Release Date: {{ item.release_date }}</p>
					<p class="card-text">Popularity: {{ item.popularity }}</p>
					<button
						class="btn btn-primary"
						data-bs-toggle="modal"
						data-bs-target="#myModal"
						data-track-id="{{item.track_id}}">
						Add to playlist
					</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}

