{% extends 'base.html'  %}

{% block content %}

{% if user.playlists  %}
<h1>Your playlists: </h1>
{% for playlist in playlists %}

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="/user/{{user.id}}/playlists/{{playlist.id}}">{{playlist.name}}</a></h5>
        <h6 class="card-subtitle mb-2 text-muted">{{playlist.decription}}</h6>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="card mb-3">
  <div class="card-body">
<form action="/user/{{user.id}}/playlists" method="POST">
{{ form.hidden_tag() }}
  
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="form-control") }}
  
      {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Create Playlist</button>
</form>
</div>
</div>



{%endblock%}