{% extends 'base.html'  %}

{% block content %}

<h1>HI</h1>

<form method="POST" action="/user/{{g.user.id}}/search">

    {{ form.hidden_tag() }}
  
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field(class_="form-control") }}
  
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}
  
    <button class="btn btn-primary" type="submit">Login</button>
  
  </form>

{% if songs %}
    <h2>Results for {{ artist_name }}</h2>
    <ul>
        {% for song in songs %}
            <li>
                <p>{{song['name']}}</p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}